*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    margin: 50px;
}

#options{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

.icons{
    width: 150px;
    height: 150px;
    border: 3px solid midnightblue;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.vehicleChoise{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; 
}

#cars{
    background-image:url(./assets/cars.png);
}

#motorcycles{
    background-image:url(./assets/motorcycles.jpg);
}

#trucks{
    background-image:url(./assets/trucks.png);
}

#airplanes{
    background-image:url(./assets/airplanes.jpg);
}

#vehicle-details select{
    display: block;
    margin: 50px auto;
    width: 320px;
    height: 50px;
    text-align: center;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background: white;
    /* border-radius: 10px; */
}

main button{
    display: block;
    margin: 30px auto;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: pink;
}

table{
    background: pink;
    width: 300px;
    line-height: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

#titleResult img{
    width: 20%;
    margin-right: 10px;
    
}

#brand-model{
    font-size: 20px;
    margin-bottom: 20px;
}