* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 50px;
}

#options {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

.icons {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.icons:hover {
    cursor: pointer;
    background-color: grey;
}

.vehicleChoise {
    width: 85px;
    height: 85px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#cars {
    background-image: url(./assets/cars.svg);
}

#motorcycles {
    background-image: url(./assets/motorcycles.svg);
}

#trucks {
    background-image: url(./assets/trucks.svg);
}

#airplanes {
    background-image: url(./assets/airplanes.svg);
}

#vehicle-details select {
    display: block;
    margin: 50px auto;
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background: white;
}

main button {
    display: block;
    margin: 30px auto;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: yellowgreen;
}

table {
    width: 300px;
    line-height: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 50px;
}

#brand-model {
    font-size: 20px;
    margin-bottom: 20px;
}

footer {
    display: none;
}