* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    padding-top: 30px;
    background-color: rgb(255, 252, 248);
    width: 800px;
    height: 1200px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin-left: 20px;
}

header img {
    width: 40px;
}

main {
    padding-top: 30px;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

.icons {
    width: 100px;
    height: 100px;
    margin: 50px 20px 0px;
    background-color: white;
    border: 2px solid #9c0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icons:hover {
    cursor: pointer;
    opacity: 0.6;
    background-color: rgb(252, 246, 236);

}

.vehicleChoise {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cars {
    background-image: url(./assets/car-svgrepo-com.svg);
}

#motorcycles {
    background-image: url(./assets/motorcycle-svgrepo-com.svg);
}

#trucks {
    background-image: url(./assets/trucks-moving-svgrepo-com.svg);
}

#airplanes {
    background-image: url(./assets/airplanes-airplane-svgrepo-com.svg);
}

#vehicle-details select {
    display: block;
    margin: 50px auto;
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background: white;
}

main button {
    display: block;
    margin: 30px auto;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background: yellowgreen;
    border: 4px black solid;
}

main button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    border: 4px solid yellowgreen;
}

table {
    width: 300px;
    line-height: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 50px;
    margin-top: 50px;
    animation-name: showTable;
    animation-duration: 1.5s;
}

#brand-model {
    font-size: 20px;
    margin-bottom: 20px;
}

footer {
    display: none;
}

@keyframes showTable {
    from {
        margin-top: 250px;
    }

    to {
        margin-top: 50px;
    }
}

@media (max-width: 800px) {
    #container {
        width: 100vw;
        margin: 0px auto;
        padding: 50px 10px 20px;
    }
}

@media (max-width: 650px) {
    header h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25x;
    }

    .icons {
        width: 90px;
        height: 90px;
        margin: 40px 10px 20px;

    }

    .vehicleChoise {
        margin: 13px;
    }

    #vehicle-details select {
        width: 350px;
    }

    table {
        width: 250px;
        padding: 15px;
    }

}

@media (max-width: 500px) {
    header h1 {
        font-size: 25px;
    }

    header img {
        width: 30px;
    }

    h2 {
        font-size: 25x;
    }

    .icons {
        width: 100px;
        height: 100px;
        margin: 20px;
        background-color: white;
        border: 2px solid yellowgreen;
        fill: white;
    }

    #options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .vehicleChoise {
        margin: 13px;
    }

    #vehicle-details select {
        width: 250px;
    }

    table {
        width: 250px;
        padding: 15px;
    }

}